.item-name {
    margin-right: 10px;
    border-bottom: 1px lightgray dashed;
}

.assembler-count {
    margin-left: 10px;
}

.assembler-display {
    margin-left: 10px;
    display: inline-block;
}

.per-click-amount-buttons {
    position: fixed;
    top: 0;
    right: 100px;
    z-index: 1000;
}

.per-click-amount-buttons button {
    margin-left: 5px;
    min-width: 50px;
}

button.assembler-disable-button {
    float: left;
}

button.add-assembler {
    margin-left: 5px;
}

button.make-by-hand {
    margin-left: 20px;
    float: right;
    white-space: nowrap;
}

.history-display.visible {
    visibility: visible;
    border-bottom: 1px lightgray dashed;
    padding: 2px;
}

.history-display {
    visibility: hidden;
}

.popover-no-max-width {
    max-width: unset !important;
}

.disabled {
    margin-left: 2px;
    color: red;
}

.item-max {
    color: gray;
    margin-left: 5px;
}

.badge.new-item-badge {
    background-color: orangered !important;
}

.game-container .item-row:nth-of-type(even) {
    background-color: rgb(236, 236, 236);
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.buttons-display {
    float: right;
}

.building-progress {
    width: 100px;
    height: 30px;
    float: right;
    margin-top: auto;
    margin-left: 5px;
    border: black 1px solid;
}

.building-progress .progress-bar {
    transition: width 0.05s linear;
}

.nav-tabs.section-tabs {
    background-color: white;
    z-index: 999;
}

.play-timer,
.fps {
    font-style: italic;
    margin-left: 20px;
    border: lightblue 1px dashed;
    padding: 2px;
}

.subsection-header {
    line-height: 40px;
    border-bottom: 1px lightgray solid;
    border-top: 3px black solid;
}

button.btn {
    padding: 2px;
    border-radius: 0;
}

.item-row {
    padding: 10px;
    min-height: 50px;
}

.item-popup-detail {
    border-bottom: 1px lightgray solid;
    margin: 1px;
    padding: 5px;
}

.game-container .item-row:hover {
    background-color: rgb(212, 208, 208);
}

.power-requirement-display {
    margin-bottom: 0 !important;
}

.assembler-count-name {
    color: gray;
}

.speed {
    color: gray;
}

.popover-ingredient-count {
    padding-right: 5px;
    font-weight: bold;
}

.popover-ingredient-has {
    color: gray;
    margin-left: 5px;
}
