.item-name {
    margin-right: 10px;
    text-decoration: underline;
}

.assembler-count {
    margin-left: 10px;
}

.assembler-display {
    margin-left: 10px;
    display: inline-block;
}

button.assembler-disable-button {
    float: left;
}

button.add-assembler {
    margin-left: 20px;
}

button.make-by-hand {
    margin-left: 20px;
    float: right;
    white-space: nowrap;
}

.item-max {
    color: gray;
    margin-left: 5px;
}

.badge.new-item-badge {
    background-color: orangered !important;
}

.game-container .item-row:nth-of-type(even) {
    background-color: rgb(236, 236, 236);
}

.section-tabs {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: white;
}

.subsection-header {
    line-height: 40px;
    border-bottom: 1px lightgray solid;
    border-top: 3px black solid;
}

button.btn {
    padding: 2px;
    border-radius: 0;
}

.item-row {
    padding: 10px;
    min-height: 50px;
}

.game-container .item-row:hover {
    background-color: rgb(212, 208, 208);
}

.assembler-count-name {
    color: gray;
}

.speed {
    color: gray;
}

.popover-ingredient-count {
    padding-right: 5px;
    font-weight: bold;
}

.popover-ingredient-has {
    color: gray;
    margin-left: 5px;
}
